*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    display: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;

}
.logo img{
    max-width: 180px;
    height: auto;
}

.navmenu{
    display: flex;
}
.navmenu a{
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 600px;
    transition: all .42s ease;
}
.navmenu a:hover{
    transform: scale(1.1);
    color: aquamarine;
}

.nav-icon i{
    margin-left: 60px;
    color: blueviolet;
    font-size: 25px;
    font-weight: 400;
    overflow: hidden;
}

.nav-icon i:hover{
    color: black;
}
section{
    padding: 5px 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(file:///C:/Users/HP%20840-G3/Desktop/rashika.jgp.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.main-text h5{
    color: coral;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: rgb(52, 51, 51);
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}
.main-btn{
    display: inline-block;
    color: red;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 9px 20px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: tomato;
    color: black;
}
.main-btn i{
    vertical-align: middle;
}

.down-arrow{
    position: absolute;
    top: 80%;
    right: 88%;
}

.down-arrow{
    font-size: 50px;
    color: orange;
   

}
.down-arrow i:hover{
    background-color: black;
    color: white;
    transition: all .42s ease;
}
header.sticky{
    background-color: white;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* trending-section-css */
.center-text h2{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;

}

.center-text span{
    color: crimson;
}
.product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 3rem;
}
.row{
    position: all .40s;
}
.row img{

    transition: all .30s;
}


.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(9, 232, 94);
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon:hover{
    color: red;
}
.ratting{
    color: rgb(240, 167, 32);
    font-size: 18px;
}
.price h4{
    color: rgb(39, 35, 35);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.about-me{
    background-color: #F3F4F6;
}
.about{
    text-align: center;
}
.about h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.about img{

    border-radius: 100px;
    margin: 10px o;
}
.about p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.about h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

/* udate-section-css */
.up-center-text h2{
    text-align: center;
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}
.cart img{
    border-radius: 5px;
}
.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    gap: 1rem;
}
.cart h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.cart h4{
    color: #111;
    font-size: 18px;
    font-weight: 600;
}
.cart p{
    color: #696c72;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}

/* Contact-info */
.contac{
    background-color: #eff1f8;
}
.contac-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rm;
}
.first-info img{
    width: 140px;
    height: auto;
}
.contact.info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contac-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contac-info p:hover{
    color: rgb(83, 12, 150);
}
.socail-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.socail-icon i:hover{
    color: aqua;
    transform: scale(1,2);
}
.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}
/*responsive-css*/
@media(max-width:890){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{

        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}
@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: 100%;
        width: 300px;
        height: 30vh;
        background-color: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;

    }
    .navmenu.open{
        right: 0;
    }
}
